/* Resetting default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #424242;
}

body {
    background-color: #f4f4f4;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

/* Header styling */
.header {
    background: url('assets/images/header-bg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    animation: fadeIn 2s ease-in;
}

/* Section styling */
.section {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    animation: fadeInUp 1s ease-in-out;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #7FFFD4;
    position: absolute;
    left: 0;
    bottom: -10px;
}

/* Music list styling */
.audio-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Video grid styling */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video-grid iframe {
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Photo grid styling */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.photo-grid img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-grid img:hover {
    transform: scale(1.05);
}

/* Footer styling */
.footer {

    color: #424242;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: 20px;
}

/* Social icons styling */
.social-icons a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.social-icons a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    align-items: center;
}

h3 {
    margin-right: 30px;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
